.p8_menu_button{
	opacity:0.3;
	padding:4px;
	display:table;
	width:24px;
	height:24px;
	float:right;
}

@media screen and (min-width:512px) {
	.p8_menu_button{
		width:24px; margin-left:12px; margin-bottom:8px;
	}
}
.p8_menu_button:hover{
	opacity:1.0;
	cursor:pointer;
}

canvas{
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
	border: 0px;
	cursor: none;
}


.p8_start_button{
	cursor:pointer;
	background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAACACAIAAABMXPacAAACW0lEQVR4Ae3dMYrbQBiGYSls562EShFcpnHlZiFVSLONW/ULvocuEsgh1OQCgTSpUtlVCO5sjItMnyKwbuTAEo00Kz1v9RPIrP55Pd/X5mXdZBiPN66AAAJAAAEggAAMz91r+dDN4tD5722ovAAQQAAIIAAEEICXkZd1k9QHbRaHqOe3ofICQAABIIAAEEDA3MnLuon6BzaLw6u4iDZUXoAIAgEEgAACQMBcyMu66eWgzeIwq4trQ+UFiCAQQAAIIAAEvFbysm5e9B82i4Nb+wdtqLwAEQQCCAABBICA1MnLuunloA8/Pv0d7h8ef3/7Mvm5DZUXIILw39z1ddD9w+Os5uQEZFk2h+h/nrPVVgTpACQVQfOqgZCYgFuh+XN/jPoLKs/fRykDEaQDkFQE3QrN82UXdYHlSGWQYgl3xmVRrGP/iIaM/uc5W21FkA5AUhHUGZen/TH2DkNG/3UOiQm4FZqTLIAe9xJBOkAHRA3i82UXdYHlKAWQZgl3xmVRrCdZA9lqK4J0AJKKoM64PO2PsXcYMvqvc0hMwK3QnGQB9LiXCNIBOiBqEJ8vu6gLLEcpgDRLuDMui2I9yRrIVlsRpAOQVAR1xuVpf4y9w5DRf51DYgJuheYkC6DHvUSQDtABUYP4fNlFXWA5SgGkWcKdcVkU60nWQLbaiiAdgKQiqDMuT/tj7B2GjP7rHPr5+Dz7+C7q7Ty9fR/1/M+/voogEEAACCAABBAAAggAAQSAAAJAAAEggAAQQAAIIAAEEAACCAABBIAAAkAAAQSAAAJAAAEggAAQMDf+APSZGH/BHUrMAAAAEHRFWHRMb2RlUE5HADIwMTEwMjIx41m2wQAAAABJRU5ErkJggg==");
	-repeat center;
	-webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover; background-size:cover;
}

.button_gfx{
	stroke-width:2;
	stroke: #ffffff;
	stroke-opacity:0.4;
	fill-opacity:0.2;
	fill:black;
}

.button_gfx_icon{
	stroke-width:3;
	stroke: #909090;
	stroke-opacity:0.7;
	fill:none;
}